gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Flutter & Dart
.dart_tool/
.buildlog/
.packages
.pub/
.idea/
.vscode/
build/

# Environment files (hide API keys)
.env

# Secrets
**/apikeys.dart
**/*.key
